<!-- wp:group {"style":{"spacing":{"padding":{"left":"var:preset|spacing|50"}}},"layout":{"type":"constrained"},"fontFamily":"Gentium"} -->
<div class="wp-block-group has-gentium-font-family" style="padding-left:var(--wp--preset--spacing--50)">
    <!-- wp:paragraph {"style":{"spacing":{"margin":{"bottom":"var:preset|spacing|50"}}},"textColor":"blue-button","fontSize":"regular"} -->
    <p class="has-blue-button-color has-text-color has-regular-font-size"
        style="margin-bottom:var(--wp--preset--spacing--50)">Ostanio dodane</p>
    <!-- /wp:paragraph -->

    <!-- wp:latest-posts {"selectedAuthor":1,"postsToShow":3,"displayAuthor":true,"displayPostDate":true,"postLayout":"grid","displayFeaturedImage":true,"featuredImageSizeSlug":"medium","featuredImageSizeWidth":300,"featuredImageSizeHeight":300,"addLinkToFeaturedImage":true,"align":"center","fontSize":"medium"} /-->

    <!-- wp:spacer {"height":"22px"} -->
    <div style="height:22px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->
</div>
<!-- /wp:group -->